body {

	background: url("../../images/slash_it.png");
	font-family: 'Convergence', sans-serif;

}
#logout {

	float:right;
	
}
#all_admins {

	background-color: #00FF99;
	text-align: center;
	border: solid 3px #aaa;
	box-shadow: 0px 0px 50px #888888;
	height: 410px;
	color: #0F0F0A;
	padding: 20px;
	width: 575px;
	overflow-y: scroll;
	overflow-x: scroll;
	float:right;
	margin-right: 25px;
}
#form{
background-color: #66FFFF;
	text-align: center;
	border: solid 3px #aaa;
	box-shadow: 0px 0px 50px #888888;
	height: 410px;
	color: #0F0F0A;
	padding: 20px;
	border-radius: 300px;
	width: 275px;
	margin-left:50px;
	float:left;
	margin-right: 25px;
	
}
.mainform{
margin:50px auto;
padding-top:20px;

}


input {
width:90%;
height:30px;
margin-top:10px;
border-radius:3px;
padding:2px;
box-shadow:0 1px 1px 0 #123456
}